<div id="main-map">
  <agm-map [latitude]="0" [longitude]="135" [zoom]="3">
      <map-control position="LEFT_BOTTOM">
        <div *ngIf="showWindows" class="card map-control">
          <div class="card-block control-card-content">
            <map-legend [title]="'GRAFS Global Soil Moisture'" [mapUnits]="'mm'"
              [cbPalette]="'RdYlBu'" [cbCount]="9" [cbReverse]="false"
              [cbRange]="[0,250]"
              [helpText]="'TODO'"></map-legend>
          </div>
        </div>
      </map-control>

      <wms-layer *ngIf="url"
               #wms
               [url]="url"
               [params]="params"
               [opacity]="1"
               [position]="0">
    </wms-layer>

  </agm-map>
</div>

<!--
  [(latitude)]="lat" [(longitude)]="lng" [(zoom)]="zoom" [disableDefaultUI]="false" [mapTypeId]="baseLayer?baseLayer.map_type_id : null"
    [zoomControl]="false" (mapClick)="mapClick($event)" (centerChange)="moved($event)" (zoomChange)="zoomed($event)"
    [fitBounds]="bounds" scaleControl="true"
-->

<!--
<router-outlet></router-outlet>
-->
