<div id="main-map">
  <layered-map [lat]="0" [lng]="135" [zoom]="3"
               [layers]="layers"
               [showMapType]="false"
               [streetViewControl]="showWindows"
               [bounds]="fullExtent">

    <div class="map-control left-top">
      <button-bar>
        <div>
          <button class="btn btn-secondary btn-sm"
                  (click)="showWindows = !showWindows"
                  [ngbTooltip]="showWindows?'Hide windows':'Show windows'"
                  placement="right">
            <i class="fa" [ngClass]="showWindows?'fa-eye-slash':'fa-eye'"></i>
          </button>
        </div>
        <zoom-in *ngIf="showWindows" [map]="map" [maxZoom]="20"></zoom-in>
        <zoom-out *ngIf="showWindows"  [map]="map" [minZoom]="3"></zoom-out>
        <zoom-full *ngIf="showWindows" [map]="map" [bounds]="fullExtent"></zoom-full>
        <zoom-layer *ngIf="showWindows" [map]="map" [layer]="topLayer" [fullBounds]="fullExtent"></zoom-layer>
        <cycle-opacity *ngIf="showWindows" [map]="map"></cycle-opacity>
        <cycle-base-map *ngIf="showWindows" [map]="map"></cycle-base-map>
      </button-bar>
    </div>

    <div class="map-control left-bottom">
      <div class="card">
        <date-shifter [(date)]="date" (dateChange)="updateDate()"></date-shifter>
      </div>
    </div>

    <div class="map-control right-bottom">
      <div *ngIf="showWindows" class="card map-control">
        <div class="card-block control-card-content">
          <map-legend [title]="'GRAFS Global Soil Moisture'" [mapUnits]="'mm'"
            [cbPalette]="'RdYlBu'" [cbCount]="9" [cbReverse]="false"
            [cbRange]="[0,250]"
            [helpText]="'TODO'"></map-legend>
        </div>
      </div>
    </div>

<!--

      <wms-layer *ngIf="url"
               #wms
               [url]="url"
               [params]="params"
               [opacity]="1"
               [position]="0">
    </wms-layer>
-->

  </layered-map>
</div>

<!--
  [(latitude)]="lat" [(longitude)]="lng" [(zoom)]="zoom" [disableDefaultUI]="false" [mapTypeId]="baseLayer?baseLayer.map_type_id : null"
    [zoomControl]="false" (mapClick)="mapClick($event)" (centerChange)="moved($event)" (zoomChange)="zoomed($event)"
    [fitBounds]="bounds" scaleControl="true"
-->

<!--
<router-outlet></router-outlet>
-->
